:root{
    --burgundy: #590d22;
    --medium-burgundy: #800f2f;
    --magenta: #a4133c;
    --dark-pink: #c9184a;
    --dark-pastel-pink: #ff4d6d;
    --medium-pastel-pink: #ff758f;
    --light-pastel-pink: #ff8fa3;
    --pink-50-opacity: #ffb3c1;
    --pink-25-opacity: #ffccd5;
    --white: #fff0f3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--burgundy);
    height: auto;
}

.s1{
    width: 100%;
    height: auto;
}

.wrap-img{
    width: 100;
}

.img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 4px #090909;
}

.wrap.text{
    width: 100%;
    padding: 20px;
}

.title{
    color: var(--dark-pink);
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
    font-size: 40px;
}

.text{
    font-family: "Inter", sans-serif;
    color: var(--white);
    font-size: 20px;
    line-height: 30px;
}

.line1{
    height: 3px;
    background-color: var(--dark-pink);
    width: 90%;
    margin: 0 auto;
}

@media(width >= 768px){
    .s1{
        min-height: 80vh;
        background-image: url(../Images/backgroundDesktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0px 40px;
        box-shadow: 0 4px 20px #090909;
    }

    .img{
        display: none;
    }

    .title{
        font-size: 100px;
        text-shadow: 0 4px 4px #090909;
    }

    .line1{
        display: none;
    }

    .text{
        font-size: 38px;
        text-shadow: 0 4px 4px rgba(0, 0, 0);
        line-height: 55px;
    }
}